.keyboard{
    width: 100%;
    border-radius: 5px;
    border: 2px solid $color-dark;
    padding: 10px;
    background: $color-light-dark;
    @extend %shadow-primary;
}

.keyboard__row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.ru,
.en {
    display: inline-block;  
}
.ru{
    display: none;
}
.keyboard__btn {
    width: 50px;
    height: 50px;
    background: $color-dark;
    margin: 2px;  
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    color: #ffffff;
    // @extend %shadow-add;
}