.textarea {
    display: block;
    width: 100%;
    height: 250px;
    margin: 10px auto 10px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid $color-additional;
    background: $color-dark;
    color: $color-background;
    @include font($size: 1.8rem, $weight: normal);
    @extend %font-add;
}