html{
     font-size: 10px;
}

body {
    @include font($size: 1.6rem, $height: 2.6rem, $weight: normal);
    @extend %font-primary;
    background: $color-background;
}

.wrapper{
    max-width: 920px;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: $color-dark;
    @extend %font-add;
}
.description,
.language {
    text-align: center;
}