$color-background: #e1ebe3;
$color-primary: #3778bf;
$color-additional: #FF7549;
$color-dark: #282829;
$color-light-dark: #7c7e81;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-width: 414px;
$mobile-small-width: 320px;
