%font-primary {
    font-family: 'Anuphan', sans-serif;    
}

%font-add {
    font-family: 'Roboto', sans-serif;
}

%shadow-primary {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
}