%font-primary {
    font-family: 'Anuphan', sans-serif;    
}

%font-add {
    font-family: 'Roboto', sans-serif;
}

%shadow-primary {
    -webkit-box-shadow: inset 5px 5px 10px -5px rgba(124,126,129,1);
    -moz-box-shadow: inset 5px 5px 10px -5px rgba(124,126,129,1);
    box-shadow: inset 5px 5px 10px -5px rgba(124,126,129,1);
}


%shadow-add {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(40,40,41,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(40,40,41,1);
    box-shadow: 5px 5px 5px 0px rgba(40,40,41,1);
}

%shadow-light {
    -webkit-box-shadow: 1px 0px 9px 0px rgba(225,235,227,1);
    -moz-box-shadow: 1px 0px 9px 0px rgba(225,235,227,1);
    box-shadow: 1px 0px 9px 0px rgba(225,235,227,1);
}